<div *ngIf="user">
  <app-title>Dashboard</app-title>
  <div class="columns">
    <div class="column is-3">
      <h2 class="subtitle">Accounts</h2>
      <table class="table">
        <thead>
        <tr>
          <td>Name</td>
          <td>Cash</td>
          <td></td>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td>Total</td>
          <td>{{totalCash | number:'1.2-2'}}</td>
          <td></td>
        </tr>
        </tfoot>
        <tbody *ngIf="accounts">
          <tr *ngFor="let account of accounts">
            <td><a [routerLink]="['/account', account.id]">{{account.name}}</a></td>
            <td>{{account.balance | number:'1.2-2'}}</td>
            <td><a [routerLink]="['/upload', account.id]"><span class="icon"><i class="fa fa-cloud-upload" title="Upload data"></i></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <h2 class="subtitle">Overview</h2>
      <div class="tabs is-centered">
        <ul>
          <li [class.is-active]="activeTab===Tabs.TOTAL_BALANCE"><a (click)="switchTab(Tabs.TOTAL_BALANCE)">Total balance</a></li>
          <li [class.is-active]="activeTab===Tabs.BALANCE_PER_ACCOUNT"><a (click)="switchTab(Tabs.BALANCE_PER_ACCOUNT)">Balance per accounts</a></li>
          <li [class.is-active]="activeTab===Tabs.INCOMES_EXPENSES"><a (click)="switchTab(Tabs.INCOMES_EXPENSES)">Incomes / Expenses</a></li>
        </ul>
      </div>
      <app-account-balance *ngIf="accounts && accounts.length > 0 && activeTab===Tabs.TOTAL_BALANCE"></app-account-balance>
      <app-account-balance *ngIf="accounts && accounts.length > 0 && activeTab===Tabs.BALANCE_PER_ACCOUNT" [accounts]="accounts"></app-account-balance>
      <app-account-balance *ngIf="accounts && accounts.length > 0 && activeTab===Tabs.INCOMES_EXPENSES" chartType="bar"></app-account-balance>
    </div>
  </div>

</div>
